@model Server.Contracts.PagedResult<Server.Data.DbVacancy>

@{
    string back = "button paging__button";
    string backEvent = $"Move({Model.Page - 1})";
    string next = "button paging__button";
    string nextEvent = $"Move({Model.Page + 1})";

    if (Model.Page == 1)
    {
        back = $"{back} paging__button_disabled";
        backEvent = string.Empty;
    }

    if (Model.Page == Model.Total)
    {
        next = $"{next} paging__button_disabled";
        nextEvent = string.Empty;
    }
}


<div class="section__header">
    <h2>Вакансии</h2>
</div>
<div class="list-container">
    @if (Model.Data != null)
    {
        for (int i = 0; i < Model.Data.Length; i++)
        {
            <article class="user-info">
                <div class="user-info__inner">
                    <input type="hidden" value=@Model.Data[i].Id>
                    <input class="user-info__input" type="text" readonly value="Должность: @Model.Data[i].Name" />
                    <input class="user-info__input" type="text" readonly value="Зарплата: @Model.Data[i].Salary" />
                    <input class="user-info__input" type="text" readonly value="Образование: @Model.Data[i].Education" />
                    <input class="user-info__input" type="text" readonly value="Опыт(Лет): @Model.Data[i].Experience" />
                    <input class="user-info__input" type="text" readonly value="Требования: @Model.Data[i].Know" />
                    <input class="user-info__input" type="text" readonly value="Задачи: @Model.Data[i].Task" />
                </div>
            </article>
        }
    }
</div>
<div class="paging">
    <div class="paging__container">
        <button class="@back" type="button" onclick="@backEvent">
            <img src="~/images/back.png" alt="move back" />
        </button>
        <button class="@next" type="button" onclick="@nextEvent">
            <img src="~/images/next.png" alt="move next" />
        </button>
        <span class="paging__info">@Model.Page из @Model.Total</span>
    </div>
</div>
<script src="~/js/vacancy.js"></script>